#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 2rem;
  text-align: center;
}

#map {
  width: 100%;
  height: 70vh;
  border: 1px solid #ccc;
}
.opt {
  display: flex;
  flex-wrap: wrap;
}
.dots {
  display: inline-block;
  position: relative;
}

.dots::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff4f81;
  animation: dot 1.5s infinite step-start;
}

.dots::before {
  content: ".";
  animation: dot-animation 1.5s steps(3, end) infinite;
}

@keyframes dot-animation {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
  100% {
    content: ".";
  }
}

.remark {
  position: fixed;
  left: 40px;
  top: 10px;
  cursor: "pointer";
  font-size: 12px;
  text-align: left;
}

.remark:hover div {
  display: block;
}

.remark div {
  background: #fff;
  display: none;
  z-index: 999;
}

.GitHub-icon {
  position: absolute;
  top: 10px;
  right: 1rem;
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
